<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp using Flask</title>
</head>
<body>
    <img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png" alt="Say Hello Logo">
    <br>
    <form action="greet" method="post">
        <p>What's your name?</p>
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="GREET" id="GREET">
    </form>
</body>
</html>